<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.devf5r.msg.Activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PremiumQuotesAppCreatedByYMGDevelopers">
        <activity android:name="com.devf5r.msg.Activity.QuotesActivity"/>
        <activity android:name="com.devf5r.msg.Activity.FavoriteActivity"/>
        <activity android:name="com.devf5r.msg.Activity.All_Inflater_Activity"/>
        <activity android:name="com.devf5r.msg.Activity.ViewPagerActivity"/>
        <activity android:name="com.devf5r.msg.Activity.QuoteOfTheDayActivity"/>
        <activity android:name="com.devf5r.msg.Activity.SettingsActivity"/>
        <activity android:name="com.devf5r.msg.Activity.PrivacyActivity"/>
        <activity android:name="com.devf5r.msg.Activity.PrimeActivity"/>
        <activity android:name="com.devf5r.msg.Activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.devf5r.msg.Activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PremiumQuotesAppCreatedByYMGDevelopers.NoActionBar">
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2741674687620852~6828769284" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>